@media (max-width: 670px) {
	.Splash {
		.logoImg { 
			width: 300px;
		}
		#tagline {
			font-size: 14px;
		}
		.emailForm {
			button {
				padding: 6px;
				font-size: 10px;
			}
		}
	}
	.input {
		input {
			position: relative;
			right: 11px;
			border: 1px solid rgba(0,0,0,.3);
			padding: 0px 0 1px 1px;
			width: 200px;
		}
		input::placeholder {
			font: $textfont;
			font-size: 8;
		}
		.inputlabel {
			display: none;
		}
	}
}

@media (max-width: 450px) {
	.Splash {
		.logoImg { 
			width: 220px;
		}
		#comingSoon {
			font-size: 12px;
		}
		#tagline {
			font-size: 10px;
		}
	}
.input {
	input {
		position: relative;
		right: 11px;
		border: 1px solid rgba(0,0,0,.3);
		padding: 10x 0 1px 1px;
		width: 200px;
	}
	input::placeholder {
		font: $textfont;
		font-size: 8;
	}
	.inputlabel {
		position: relative;
		left: 9px;
		bottom: 10px;
		color: #808080;
		font: $textfont;
		font-size: 8;
	}
}
}